.know_more {
  width: 100vw;
  height: 100vh;
  background: url('https://image.ibb.co/iDdB4f/page-under-construction-funny-cartoon-workers-repairing-website-using-huge-spanner-looped-animation-prerendered-composition-and-workers-on-transparent-background-snu2t-yze-thumbnail-full01.png') center/cover no-repeat ;
}
