<div class='main-div2'>
  <div class="teamwork">
  </div>
  <div class='main-div1'>
    <div class='pic-div'>
      <div class='pic'>
      </div>
    </div>
    <div class='info-div'>
      <h1>
        ARJUN MALIK
      </h1>
      <p class='email'>
        armalik@adobe.com
      </p>
      <p>
        Member of Technical Staff 2
      </p>
      <p>
        Arjun has worked in web and product development for more then 4 years, currently working for Adobe as MTS 2, he has also worked as Senior Application Developer in Oracle. He manages most of the development work of website.
      </p>
      <p>
        Location: Bangalore
      </p>
    </div>
  </div>
  <div class='main-div3'>
    <div class='pic-div'>
      <div class='pic'>
      </div>
    </div>
    <div class='info-div'>
      <h1>
        SHIVAM VERMA
      </h1>
      <p class='email'>
        shivam.varma3@gmail.com
      </p>
      <p>
        IIT Roorkee
      </p>
      <p>
        Shivam has done his graduation from NIT Allahabad and post-graduation from IIT Roorkee in Computer Science. He manages all the events and looks into all the day to day activities of the organization.
      </p>
      <p>
        Location: Roorkee
      </p>
    </div>
  </div>
  <div class='main-div4'>
    <div class='pic-div'>
      <div class='pic'>
      </div>
    </div>
    <div class='info-div'>
      <h1>
        Aman Singh
      </h1>
      <p class='email'>
        amanamals@gmail.com
      </p>
      <p>
        IIT Delhi
      </p>
      <p>
        Aman is currently pursuing his post-graduation from IIT Delhi in Computer Science. He purposes all the designs of website and is one of the main organizers of the events.  
      </p>
      <p>
        Location: New Delhi
      </p>
    </div>
  </div>
</div>
