
<div class="header-container">
  <ul>
    <div class="circle">
      <img src='../../assets/images/logo.png' class="header-img">
    </div>
    <li class="left-over"></li>
    <li class="divider"></li>
    <li><a routerLinkActive="active" routerLink="/home">home</a></li>
    <li class="divider"></li>
    <li><a routerLinkActive="active" routerLink="/projects">our projects</a></li>
    <li class="divider"></li>
    <li><a routerLinkActive="active" routerLink="/about-us">about us</a></li>
    <li class="divider"></li>
    <li><a routerLinkActive="active" routerLink="/contact">contact</a></li>
    <li class="divider"></li>
    <li><a routerLinkActive="active" routerLink="/testimonial">testimonial</a></li>
    <li class="divider"></li>
    <li class="left-over"></li>
  </ul>
</div>
