.main-div1 {
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.codemirror {
  height: 500px;
  width: 1000px;
  overflow: scroll;
}


.left-d {
  width: 320vw;
  height: 450vh;
  background: #D6372E;
  position: absolute;
  border-radius: 50%;
  left: -225vh;
  top:  -225vh;
  z-index: 20;
  transition: all 1s ease-in;
}

.title {
  position: fixed;
  color: white;
  top: 40vh;
  left: 8vw;
  letter-spacing: 1px;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 21;
  font-family: brother-1816, sans-serif;
  font-size: 3em;
  width: 0vh;
  white-space: nowrap;
  overflow: hidden;
  animation: type 2.2s steps(80, end);
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  animation-delay: 1.8s;
}

@keyframes type{
  0% { width: 90vw; }
  20% {
       width: 90vw;
    }
    100% {
      width: 0vw;
    }
}

.top-div {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 20;
}
